body {
    background-color: white;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.logo{
    width: 150px;
    height: 100px;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
}
nav{
    height: 6rem;
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li{
    height: 100px;
}
nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}
nav a:hover{
    border-radius: 30px;
    color: #AA78A6;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: pink;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidebar li{
    width: 100%;
}
.sidebar a{
    width: 100%;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #779290;
}

#dojo {
    height: 40vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-self: center;
    margin: auto;
    margin-top: 25px;

}

main {
    width: 100%;
}

.introduction {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1fr);
    grid-row-gap: 15px;
}

.intro-div {
    align-content: center;
    text-align: center;
}

.intro-text {
    color: #686d6d;
    line-height: 2em;
    width: 75%;
    margin: auto;
    padding: 10px;
}

#email {
    text-decoration: underline;
    color:#686d6d
}

h2 {
    color: #779290;
    text-align: center;
}

.animal-type {
    color: #7e808f;
    text-align: center;
    margin-bottom: 10%;
    background-color: #B8BAC8;
    border-radius: 15px;
}

h4 {
    text-align: center;
}

.adoption-process {
    text-align: center;
    margin: 50px;

}

.adoption-process p {
    width: 70%;
    margin: auto;
    width: 80%;
    margin: auto;
}

.steps {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:repeat(4, 1fr);
    row-gap: 30px;
    color: #686d6d;
}

.step {
    margin-top: 10px;
    background-color: #B4D6D3;
    width: 85%;
    height: 100%;
    padding: 10px;
    margin: auto;
}

.available-dogs {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    row-gap: 20px;
    background-color: #e9f0f0;
    width: 85%;
    height: 70%;
    margin: auto;
}

.available-dog {
    background-color: #B4D6D3;;
}

.available-cats {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    row-gap: 20px;
    background-color: #e9f0f0;
    width: 85%;
    height: 70%;
    margin: auto;
}

.available-cat {
    background-color: #B4D6D3;;
    justify-content: center;
}

.animal-pic {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 20px;
}

.dog-info, .cat-info {
   margin: auto;
   text-align: center;
   margin-bottom: 20%;
}

.copyright {
    display: flex;
    font-size: 15px;
    justify-content: center;
    padding: 15px;
}
.footer-container-link {
    display: grid;
    grid-template-columns: repeat(5, 100px);
    justify-content: center;
    margin-bottom: 50px;
}
.footer-link:link {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.footer-link-visted {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.footer-link:hover {
    color: rgb(0, 0, 0);
    text-decoration: underline;
}
.footer-link:visted:hover {
    color:rgb(0, 0, 0);
}
.icon-container {
    display: grid;
    grid-template-columns: repeat(4, 80px);
    justify-content: center;
    margin-left: 50px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}
.footer-header {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-size: 15px;
}


@media (min-width:600px){
 
.steps {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows:repeat(2, 1fr);
    row-gap: 30px;
} 

.available-dogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 30px;
    background-color: #ebeeee;
}

.available-cats {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 30px;
}

}

@media (min-width: 1100px) {
    .introduction {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-row-gap: 15px;
        background-color: #dde7e6;
        padding: 20px;
    }
    
    .steps {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        row-gap: 30px;
    } 

    .available-dogs {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 20px;
    column-gap: 30px;
    }

    .available-cats {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2, 1fr);
        row-gap: 20px;
        column-gap: 30px;
    }
}